@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@300&display=swap');

html {
    font-family: 'JetBrains Mono', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 99%;
    /* background-color: white; */

    transition: background-color 2s, color 2s;

    color: white;
    background-color: #242424;
}

::selection {
    color: white;
    background: #ff6600;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #242424; 
}
 
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

.content {
    text-align: center;
}

.content h4 {
    margin-bottom: -0.6em;
}

.link {
    color: #ff6600;
}

.link:not(:first-child) {
    margin-left: 1%;
}

.link:hover {
    color: #cc5200;
}

#title {
    line-height: 0.5;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 3em;
}

#output {
    width: 25%;
    /* margin-left: 20%; */
    margin: auto;
    padding: 1% 20% 1%;
    text-align: left;
    border-radius: 2px;

    /* font-family: Consolas, serif; */
    background-color: #3d3d3d;
    color: white;
}

#how-to {
    /* margin-left: 20%;
    width: 60%; */
    margin: auto;
    width: 50%;
    text-align: left;

    color: white;

    background-color: #3d3d3d;
    border-radius: 5px;
    /* padding: 0.2% 1% 0.2% 1%; */
    padding: 10px;
}

#how-to h3 {
    font-size: 1.2em;
}

#continue-btn {
    margin: 1%;
}

label {
    font-weight: bold;
    display: block;
}

input, button {
    font-family: 'JetBrains Mono', sans-serif;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=color] {
    padding: 1px;
    background-color: white;
}

select {
    font-family: 'JetBrains Mono', sans-serif;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    padding: 0.5% 2%;
}

input[type=submit]:hover {
    padding: 0.5% 2%;
    background-color: rgb(213, 209, 209);
    cursor: pointer;
}

#download-btn {
    margin: 1%;
}

button {
    padding: 0.5% 2%;
}

button:hover:disabled {
    cursor: not-allowed;
}

button:hover:not([disabled]) {
    padding: 0.5% 2%;
    background-color: rgb(213, 209, 209);
    cursor: pointer;
}