@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body {
    width: 99%;
    background-color: white;

    transition: background-color 2s, color 2s;
}

.content {
    margin-top: 12%;
}

.link {
    color: #ff6600;
}

.link:not(:first-child) {
    margin-left: 1%;
}

.link:hover {
    color: #cc5200;
}

#logo {
    border-radius: 100px;
}

#logo:hover {
    cursor: pointer;
}

#title {
    line-height: 0.5;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 3em;
}

.row * {
    display: inline-block;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(35, 39, 42, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 10px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 1s;
}
 
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(35, 39, 42, 0.8) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}